$base-color:#bdb7ff;
$base-white:white;
$base-bule:#4d79f6;
$base-gray:#f0f2f5;
$base-ye:#F0B600;
$base-green:#34A853;
$base-pink:#E2918C;
$base-f8:#f8f8f8;
$base-hui:#f4f5f5;
// Aside
.el-scrollbar{
    height: 100%;
    .scrollbar-wrapper {
        overflow-x: hidden !important;
        .el-scrollbar__view{
            // height: 100%;
            overflow-x: hidden !important;
        }
    }
}